{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Add books</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit"  class="btn btn-dark btn-block">Save</button>
                            <a href="{% url 'book_list' %}" class="btn btn-secondary">Exit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}