{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">BookStore</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum velit quibusdam. Quam nisi deleniti asperiores error doloremque totam id quibusdam excepturi, quae ipsum rerum, odit repudiandae pariatur sed! Odio facilis hic nobis, aut consectetur dolor aliquam autem quod molestias cum non, animi eum quidem at odit debitis explicabo, tempore eius eveniet? Nisi dolore dignissimos reprehenderit ut reiciendis repudiandae suscipit quo aspernatur, ipsam perspiciatis, rem ea possimus est eveniet voluptates, quibusdam ab cupiditate necessitatibus quae aliquid? Cupiditate nihil animi minus, laboriosam possimus quas ducimus quidem. Aut recusandae commodi, laborum ratione minima placeat dolorem modi mollitia aliquam architecto totam reprehenderit fuga!</p>
    </section>
</main>


{% endblock %}